<#@ template language="C#" hostspecific="True"#>
<#@ output extension="g.cs" encoding="utf-8" #>
<#@ include file="Conversion.ttinclude"#><##>
using System;
using System.Runtime.CompilerServices;

namespace MmiSoft.Core.Math.Units.Struct;

<#
    GenerateConversions("angle-units.txt", "Angle");
#>


