<#@ template language="C#" hostspecific="True"#>
<#@ output extension="g.cs" #>
<#@ include file="GeneratorUtil.ttinclude"#><##>
using System;

namespace MmiSoft.Core.Math.Units.Struct;

<#
    CreatePrimaryUnits(Host.ResolvePath("angle-units.txt"), false, "Angle");
#>
